<app-sidenav-container>
  <mat-nav-list>
    <a mat-list-item routerLink="1" routerLinkActive="selected">
      <mat-icon>sticky_note_2</mat-icon>
      13. Hausübung
    </a>
    <a mat-list-item routerLink="2" routerLinkActive="selected">
      <mat-icon>sticky_note_2</mat-icon>
      14. Hausübung
    </a>
    <a mat-list-item routerLink="3" routerLinkActive="selected">
      <mat-icon>sticky_note_2</mat-icon>
      15. Hausübung
    </a>

    <button mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-nav-list>
</app-sidenav-container>
