a:focus {
  background-color: unset;
}

.selected {
  background-color: #e0e0e0;
}

a {
  position: relative;
  mat-icon {
    margin-right: 10px;
    vertical-align: middle;
    color: #333333;
  }

  .context {
    display: none;
  }
}

a:hover {
  .context {
    display: inline;
    position: absolute;
    right: 0;
  }
}

mat-nav-list {
  position: relative;
  height: calc(100% - 2em);

  button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
